#### import the things

In [1]:
import pandas as pd
# import json
import os
# import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns

idx = pd.IndexSlice

# import scipy.stats

In [2]:
with open(r"..\path.txt") as p:
    path = p.readlines()[0]
import sys
sys.path.append(path)

import data_sorting_tools as dst

%load_ext autoreload
%autoreload 2

In [2]:
data_fol = r"..\data_files"

In [3]:
df1 = pd.read_pickle(os.path.join(data_fol, "full_dataset_cleaned_pull1.pkl"))
df2 = pd.read_pickle(os.path.join(data_fol, "full_dataset_cleaned_pull2.pkl"))
df3 = pd.read_pickle(os.path.join(data_fol, "full_dataset_cleaned_pull3.pkl"))

In [4]:
df1.shape, df2.shape, df3.shape

((7662, 9), (7971, 10), (2839, 10))

In [5]:
df1.keys()

Index(['quote_count', 'reply_count', 'retweet_count', 'favorite_count',
       'user_followers_count', 'user_verified', 'full_text', 'media_count',
       'media_types'],
      dtype='object')

In [6]:
df2.keys()

Index(['quote_count', 'reply_count', 'retweet_count', 'favorite_count',
       'user_followers_count', 'user_verified', 'text', 'lang', 'media_count',
       'media_types'],
      dtype='object')

forgot to drop the lang column, and need to change the names of the text columns

In [7]:
df2.drop(columns='lang', inplace=True)
df3.drop(columns='lang', inplace=True)

In [8]:
df1.rename(columns={'full_text': 'text'}, inplace=True)

In [9]:
df1.columns

Index(['quote_count', 'reply_count', 'retweet_count', 'favorite_count',
       'user_followers_count', 'user_verified', 'text', 'media_count',
       'media_types'],
      dtype='object')

In [10]:
df2.columns

Index(['quote_count', 'reply_count', 'retweet_count', 'favorite_count',
       'user_followers_count', 'user_verified', 'text', 'media_count',
       'media_types'],
      dtype='object')

In [11]:
df1.shape, df2.shape, df3.shape

((7662, 9), (7971, 9), (2839, 9))

In [12]:
df = pd.concat([df1, df2, df3])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 18472 entries, (1333476068192366593, 2152363202) to (1343490641230233601, 2394619242)
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   quote_count           18472 non-null  Int64
 1   reply_count           18472 non-null  Int64
 2   retweet_count         18472 non-null  Int64
 3   favorite_count        18472 non-null  Int64
 4   user_followers_count  18472 non-null  Int64
 5   user_verified         18472 non-null  boolean
 6   text                  18472 non-null  object
 7   media_count           18472 non-null  Int64
 8   media_types           18472 non-null  string
dtypes: Int64(6), boolean(1), object(1), string(1)
memory usage: 2.8+ MB

### duplicates

might expect some duplicates to show up.

In [14]:
df[df.index.duplicated(keep=False)].sort_index()

                                         quote_count  reply_count  \
tid                 uid
803879266416934913  637313893                    472          303
                    637313893                    472          303
1112972507836006400 2367303485                    41           12
                    2367303485                    41           12
1216699685022392321 491404434                    325          355
...                                              ...          ...
1362681246678212610 45315179                       3           11
1362784313851473924 1123936793651490818            0            0
                    1123936793651490818            0            0
1364479422435311620 1298249582472617984            0            0
                    1298249582472617984            0            0

                                         retweet_count  favorite_count  \
tid                 uid
803879266416934913  637313893                     5937           23178
                    637313893                     5927           23179
1112972507836006400 2367303485                     261             239
                    2367303485                     261             239
1216699685022392321 491404434                     8294            9359
...                                                ...             ...
1362681246678212610 45315179                        32             240
1362784313851473924 1123936793651490818              7              10
                    1123936793651490818              8              11
1364479422435311620 1298249582472617984             22              93
                    1298249582472617984             24              97

                                         user_followers_count  user_verified  \
tid                 uid
803879266416934913  637313893                         8749262           True
                    637313893                         8746204           True
1112972507836006400 2367303485                          23555           True
                    2367303485                          23558           True
1216699685022392321 491404434                            7257          False
...                                                       ...            ...
1362681246678212610 45315179                            13882          False
1362784313851473924 1123936793651490818                  1488          False
                    1123936793651490818                  1626          False
1364479422435311620 1298249582472617984                  1418          False
                    1298249582472617984                  1434          False

                                                                                      text  \
tid                 uid
803879266416934913  637313893            YOU could win a trip to kick it with me at YG ...
                    637313893            YOU could win a trip to kick it with me at YG ...
1112972507836006400 2367303485           SAIMR, a South African apartheid intelligence ...
                    2367303485           SAIMR, a South African apartheid intelligence ...
1216699685022392321 491404434            These are HIV prevention tablets 🙌 PREP ... sp...
...                                                                                    ...
1362681246678212610 45315179             It’s not a sin: Bronski Beat’s Smalltown Boy f...
1362784313851473924 1123936793651490818  Have you been watching #ItsASin ? We can’t sto...
                    1123936793651490818  Have you been watching #ItsASin ? We can’t sto...
1364479422435311620 1298249582472617984  HIV free generation is possible if only if  we...
                    1298249582472617984  HIV free generation is possible if only if  we...

                                         media_count media_types
tid                 uid
803879266416934913  637313893                      0        none
                    637313893                      0        none
1112972507836006400 2367303485                     0        none
                    2367303485                     0        none
1216699685022392321 491404434                      2       photo
...                                              ...         ...
1362681246678212610 45315179                       0        none
1362784313851473924 1123936793651490818            0        none
                    1123936793651490818            0        none
1364479422435311620 1298249582472617984            0        none
                    1298249582472617984            0        none

[153 rows x 9 columns]

In [15]:
duplicates = df[df.index.duplicated(keep='first')].index
df.shape

(18472, 9)

In [16]:
df = df.drop(index=duplicates)
df.shape

(18319, 9)

In [17]:
df[df.duplicated(subset='text', keep=False)].sort_values('text')

,,quote_count,reply_count,retweet_count,favorite_count,user_followers_count,user_verified,text,media_count,media_types
tid,uid,,,,,,,,,
1363080998456610816,20252263,0,0,0,0,7472,False,#Africa steps up fight against #HIV with trial...,0,none
1372261620605419522,20252263,0,0,0,0,7584,False,#Africa steps up fight against #HIV with trial...,0,none
1363125510440685568,328638472,0,0,0,0,29100,False,#CoronaVillains Yes spread to #pets occur reve...,0,none
1375491494308614148,328638472,0,0,0,0,29048,False,#CoronaVillains Yes spread to #pets occur reve...,0,none
1362242076822355969,1010757472238342145,0,0,0,1,191,False,#RT @pozmagazine: Love Positive Women: The Alc...,0,none
...,...,...,...,...,...,...,...,...,...,...
1360277350508859402,936588393236049920,0,0,0,0,29,False,a black gay man in atlanta has a 60% chance of...,0,none
1376313013150552068,936588393236049920,0,0,0,0,29,False,a black gay man in atlanta has a 60% chance of...,0,none
1363100953474445312,936588393236049920,0,0,0,0,27,False,a black gay man in atlanta has a 60% chance of...,0,none
1364097519542804480,936588393236049920,0,0,0,0,27,False,a black gay man in atlanta has a 60% chance of...,0,none
1361757101543092230,936588393236049920,0,0,0,0,27,False,a black gay man in atlanta has a 60% chance of...,0,none

In [18]:
more_duplicates = df[df.duplicated(subset='text', keep='first')].index
df.shape

(18319, 9)

In [19]:
df = df.drop(index=more_duplicates)
df.shape

(18261, 9)

In [21]:
df.groupby('tid').count().sort_values('quote_count', ascending=False)

,quote_count,reply_count,retweet_count,favorite_count,user_followers_count,user_verified,text,media_count,media_types
tid,,,,,,,,,
183749146224766977,1,1,1,1,1,1,1,1,1
1369508754903867396,1,1,1,1,1,1,1,1,1
1369509656675094529,1,1,1,1,1,1,1,1,1
1369509591306838016,1,1,1,1,1,1,1,1,1
1369509529264795650,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
1363106924183629827,1,1,1,1,1,1,1,1,1
1363107018274459654,1,1,1,1,1,1,1,1,1
1363107159928492032,1,1,1,1,1,1,1,1,1
1363107308226703361,1,1,1,1,1,1,1,1,1
1376424348173668353,1,1,1,1,1,1,1,1,1

In [22]:
df.describe()

,quote_count,reply_count,retweet_count,favorite_count,user_followers_count,media_count
count,18261.000000,18261.000000,18261.000000,18261.000000,1.826100e+04,18261.000000
mean,1.085647,1.547341,13.510049,52.295657,2.646599e+04,0.031816
std,22.156140,24.014322,348.296209,1246.415559,4.101210e+05,0.205152
min,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,0.000000,0.000000,0.000000,0.000000,1.450000e+02,0.000000
50%,0.000000,0.000000,0.000000,1.000000,7.530000e+02,0.000000
75%,0.000000,1.000000,1.000000,5.000000,3.196000e+03,0.000000
max,1877.000000,2791.000000,37622.000000,134053.000000,2.648482e+07,4.000000

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 18261 entries, (1333476068192366593, 2152363202) to (1343490641230233601, 2394619242)
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   quote_count           18261 non-null  Int64
 1   reply_count           18261 non-null  Int64
 2   retweet_count         18261 non-null  Int64
 3   favorite_count        18261 non-null  Int64
 4   user_followers_count  18261 non-null  Int64
 5   user_verified         18261 non-null  boolean
 6   text                  18261 non-null  object
 7   media_count           18261 non-null  Int64
 8   media_types           18261 non-null  string
dtypes: Int64(6), boolean(1), object(1), string(1)
memory usage: 2.8+ MB

over 18,000 tweets is actually very decent. I'm happy for this to be my final dataset.

In [24]:
#save the dataframe as a pickle file to be loaded into other notebooks
pd.to_pickle(df, os.path.join(data_fol, "final_dataset.pkl"))