#### import the things

In [20]:
import pandas as pd
import json
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

idx = pd.IndexSlice

import scipy.stats
import data
raw_data_fol = os.path.join(data.__path__[0], "raw")

In [21]:
from src.data import data_sorting_tools as dst
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

#### look at tweet data keys

Open one of the jsons to look at key structure and names

In [24]:
query1_file = os.path.join(raw_data_fol, "main_search1_fixed.json")
with open(query1_file) as f:
    query1 = json.load(f)

In [25]:
query1['10'].keys()

dict_keys(['created_at', 'id', 'id_str', 'text', 'source', 'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'retweeted_status', 'is_quote_status', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted', 'filter_level', 'lang', 'matching_rules', 'full_text'])

In [26]:
query1['10']['user'].keys()

dict_keys(['id', 'id_str', 'name', 'screen_name', 'location', 'url', 'description', 'translator_type', 'protected', 'verified', 'followers_count', 'friends_count', 'listed_count', 'favourites_count', 'statuses_count', 'created_at', 'utc_offset', 'time_zone', 'geo_enabled', 'lang', 'contributors_enabled', 'is_translator', 'profile_background_color', 'profile_background_image_url', 'profile_background_image_url_https', 'profile_background_tile', 'profile_link_color', 'profile_sidebar_border_color', 'profile_sidebar_fill_color', 'profile_text_color', 'profile_use_background_image', 'profile_image_url', 'profile_image_url_https', 'profile_banner_url', 'default_profile', 'default_profile_image', 'following', 'follow_request_sent', 'notifications'])

In [27]:
query1['10']['entities'].keys()

dict_keys(['hashtags', 'urls', 'user_mentions', 'symbols'])

In [28]:
for k in query1.keys():
    try:
        if "extended_entities" in query1[k].keys():
            print(k, query1[k]['extended_entities']['media'][0]['type'])
    except:
        continue

0 video
27 photo
40 video
187 animated_gif
226 video
233 video
280 photo
283 video
321 video
343 video
392 video
418 photo
459 video
472 photo
493 video

In [29]:
query1['187']['extended_entities']['media']

[{'id': 1365070338380492801,
  'id_str': '1365070338380492801',
  'indices': [107, 130],
  'media_url': 'http://pbs.twimg.com/tweet_video_thumb/EvG0PYSXcAELI8C.jpg',
  'media_url_https': 'https://pbs.twimg.com/tweet_video_thumb/EvG0PYSXcAELI8C.jpg',
  'url': 'https://t.co/hVoFsMcfi7',
  'display_url': 'pic.twitter.com/hVoFsMcfi7',
  'expanded_url': 'https://twitter.com/KnowYourHIVStat/status/1365070348094496772/photo/1',
  'type': 'animated_gif',
  'video_info': {'aspect_ratio': [245, 152],
   'variants': [{'bitrate': 0,
     'content_type': 'video/mp4',
     'url': 'https://video.twimg.com/tweet_video/EvG0PYSXcAELI8C.mp4'}]},
  'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
   'large': {'w': 490, 'h': 304, 'resize': 'fit'},
   'small': {'w': 490, 'h': 304, 'resize': 'fit'},
   'medium': {'w': 490, 'h': 304, 'resize': 'fit'}}}]

In [30]:
#keep these top level keys
keepers = ['quote_count', 'reply_count', 'retweet_count', 'favorite_count']

#check to see what they look like in a dataframe
df = dst.json_to_df(query1_file, keepers, get_media=True, return_dict=False)
df.head()

,quote_count,reply_count,retweet_count,favorite_count,media_count,media_types
1365058286861623302,0,0,0,0,0,none
1365058295820599296,0,0,0,0,0,none
1365058459562094597,0,1,0,2,0,none
1365058464154857474,0,0,0,0,0,none
1365058465144725514,0,0,0,0,0,none

In [31]:
df.media_count.unique()

array([0, 1], dtype=int64)

In [32]:
df[df.media_count>0]

,quote_count,reply_count,retweet_count,favorite_count,media_count,media_types
1365058503929454601,0,0,0,0,1,video
1365059147666841602,0,0,0,0,1,photo
1365059358036525058,0,0,0,0,1,video
1365060687945465857,0,0,1,0,1,photo
1365061792569901056,0,0,0,0,1,video
1365064128122003459,0,0,0,0,1,video
1365064933692571651,0,0,0,0,1,video
1365066516241211396,0,0,0,0,1,video
1365066544863092736,0,0,0,0,1,photo
1365068430395793408,0,0,0,0,1,video
1365068890972258306,0,0,0,0,1,video
1365070348094496772,0,0,1,0,1,animated_gif
1365077399604506628,0,0,0,0,1,video
1365077769042984962,0,0,0,0,1,photo
1365080049200865280,0,0,0,0,1,video

#### decide which keys to put in a dataframe

In [35]:
#keep these top level keys
keepers = ['quote_count', 'reply_count', 'retweet_count', 'favorite_count']

#check to see what they look like in a dataframe
df, main_dict = dst.json_to_df(query1_file, keepers, return_dict=True)
df.head()

,quote_count,reply_count,retweet_count,favorite_count,media_count,media_types
1365058286861623302,0,0,0,0,0,none
1365058295820599296,0,0,0,0,0,none
1365058459562094597,0,1,0,2,0,none
1365058464154857474,0,0,0,0,0,none
1365058465144725514,0,0,0,0,0,none

In [39]:
#keep these keys nested under the "user" top level key. 
doubles = [('user','id'), ('user','followers_count'), ('user','verified'), ('user','statuses_count')]

#check to make sure using nested keys works with my function
doubles_df, doubles_md = dst.json_to_df(query1_file, doubles, return_dict=True)
doubles_df.head()

,user_id,user_followers_count,user_verified,user_statuses_count,media_count,media_types
1365058286861623302,138154628,360,False,9565,0,none
1365058295820599296,3528360857,125,False,781,0,none
1365058459562094597,1282735399312523264,137,False,3367,0,none
1365058464154857474,2184594824,1055,False,33021,0,none
1365058465144725514,720256890945581056,23,False,88,0,none

In [41]:
numeric_keys = ['quote_count', 'reply_count', 'retweet_count', 'favorite_count', ('user','id'), 
                ('user','followers_count'), ('user','verified')]

test_df = dst.json_to_df(query1_file, numeric_keys, return_dict=False)
test_df.head()

,quote_count,reply_count,retweet_count,favorite_count,user_id,user_followers_count,user_verified,user_statuses_count,media_count,media_types
1365058286861623302,0,0,0,0,138154628,360,False,9565,0,none
1365058295820599296,0,0,0,0,3528360857,125,False,781,0,none
1365058459562094597,0,1,0,2,1282735399312523264,137,False,3367,0,none
1365058464154857474,0,0,0,0,2184594824,1055,False,33021,0,none
1365058465144725514,0,0,0,0,720256890945581056,23,False,88,0,none

#### process all the tweet jsons to gather numeric data

In [34]:
#combination list of all the keys from above, to be put in the final dataframe
numeric_keys = ['quote_count', 'reply_count', 'retweet_count', 'favorite_count', ('user','id'), 
                ('user','followers_count'), ('user','verified')]

In [9]:
#where all the raw data jsons are kept
os.listdir(raw_data_fol)

['.gitkeep',
 'first_main_search',
 'main_search0.json',
 'main_search1.json',
 'main_search10.json',
 'main_search11.json',
 'main_search2.json',
 'main_search3.json',
 'main_search4.json',
 'main_search5.json',
 'main_search6.json',
 'main_search7.json',
 'main_search8.json',
 'main_search9.json',
 'prep_searches',
 'test_search.json']

In [35]:
#go through all the jsons to combine relevant columns of tweets in one dataframe, indexed by tweet ID
all_dfs = []
for f in os.listdir(raw_data_fol):
    if ("main" in f) and (".json" in f):
        df = dst.json_to_df(os.path.join(raw_data_fol, f), numeric_keys, return_media=True, return_dict=False)
        all_dfs.append(df)
        
numeric_df = pd.concat(all_dfs)

In [36]:
numeric_df.head()

,quote_count,reply_count,retweet_count,favorite_count,user_id,user_followers_count,user_verified,user_statuses_count,media_count,media_types
1363937142200762376,0,0,0,0,1044743429413117955,74,False,511,0,none
1363937163780497411,0,0,1,1,1124939622,3004,False,21500,0,none
1363937239315709958,0,0,0,0,320715610,770,False,5420,0,none
1363937250707451906,0,0,5,15,194303094,3935,False,9899,0,none
1363937296089812992,0,0,0,0,3185064115,14743,False,97453,0,none

#### clean up the dataframe & save it as a pickle file

In [37]:
#multi index the df on tweet id and user id
numeric_df.set_index('user_id', drop=True, append=True, inplace=True)
numeric_df.index.rename(['tid', 'uid'], inplace=True)

#show any duplicates, based off of unique tweet id (tid)
numeric_df[numeric_df.index.get_level_values('tid').duplicated(keep=False)]

Empty DataFrame
Columns: [quote_count, reply_count, retweet_count, favorite_count, user_followers_count, user_verified, user_statuses_count, media_count, media_types]
Index: []

In [38]:
numeric_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 6000 entries, (1363937142200762376, 1044743429413117955) to (1363860840206712836, 553839116)
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   quote_count           6000 non-null   object
 1   reply_count           6000 non-null   object
 2   retweet_count         6000 non-null   object
 3   favorite_count        6000 non-null   object
 4   user_followers_count  6000 non-null   object
 5   user_verified         6000 non-null   object
 6   user_statuses_count   6000 non-null   object
 7   media_count           6000 non-null   int64
 8   media_types           6000 non-null   object
dtypes: int64(1), object(8)
memory usage: 850.4+ KB

In [39]:
#convert dtypes to most obvious type
numeric_df = numeric_df.convert_dtypes()
numeric_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 6000 entries, (1363937142200762376, 1044743429413117955) to (1363860840206712836, 553839116)
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   quote_count           6000 non-null   Int64
 1   reply_count           6000 non-null   Int64
 2   retweet_count         6000 non-null   Int64
 3   favorite_count        6000 non-null   Int64
 4   user_followers_count  6000 non-null   Int64
 5   user_verified         6000 non-null   boolean
 6   user_statuses_count   6000 non-null   Int64
 7   media_count           6000 non-null   Int64
 8   media_types           6000 non-null   string
dtypes: Int64(7), boolean(1), string(1)
memory usage: 856.2 KB

In [40]:
#basic statistics
numeric_df.describe()

,quote_count,reply_count,retweet_count,favorite_count,user_followers_count,user_statuses_count,media_count
count,6000.000000,6000.000000,6000.000000,6000.000000,6.000000e+03,6.000000e+03,6000.000000
mean,0.073833,0.243833,0.721333,3.373500,1.983178e+04,4.702998e+04,0.026667
std,0.841130,1.916331,8.124306,41.906479,6.584317e+05,1.597257e+05,0.177841
min,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000e+00,0.000000
25%,0.000000,0.000000,0.000000,0.000000,1.380000e+02,1.863750e+03,0.000000
50%,0.000000,0.000000,0.000000,0.000000,5.645000e+02,8.188500e+03,0.000000
75%,0.000000,0.000000,0.000000,0.000000,2.135000e+03,3.140775e+04,0.000000
max,43.000000,112.000000,470.000000,2430.000000,4.951454e+07,2.298319e+06,4.000000

In [41]:
#final structure
numeric_df.head()

,,quote_count,reply_count,retweet_count,favorite_count,user_followers_count,user_verified,user_statuses_count,media_count,media_types
tid,uid,,,,,,,,,
1363937142200762376,1044743429413117955,0,0,0,0,74,False,511,0,none
1363937163780497411,1124939622,0,0,1,1,3004,False,21500,0,none
1363937239315709958,320715610,0,0,0,0,770,False,5420,0,none
1363937250707451906,194303094,0,0,5,15,3935,False,9899,0,none
1363937296089812992,3185064115,0,0,0,0,14743,False,97453,0,none

#### drop non-enlish tweets found during text data wrangling

In [18]:
# numeric_df = pd.read_pickle(os.path.join(data.__path__[0], "compiled", "first_6000_numeric.pkl"))

In [42]:
inx_to_drop = np.load(os.path.join(data.__path__[0], "compiled", "first_6000_non_eng_ind.npy"))

In [43]:
numeric_df.shape

(6000, 9)

In [44]:
numeric_df.loc[inx_to_drop]

,,quote_count,reply_count,retweet_count,favorite_count,user_followers_count,user_verified,user_statuses_count,media_count,media_types
tid,uid,,,,,,,,,
1363949890598969344,1148573841020428290,0,0,0,0,10,False,13933,0,none
1363949864866971654,1101131404929392641,0,1,0,0,9086,False,13205,0,none
1363949774060351510,3044766416,0,0,0,0,180,False,7387,0,none
1363949645366517778,1247098161044299776,0,0,0,0,380,False,7269,0,none
1363949641100791809,1286353592664748032,0,0,0,0,14,False,13262,0,none
...,...,...,...,...,...,...,...,...,...,...
1363852025298104320,329742493,0,0,0,0,293,False,40707,0,none
1363851634476945411,218763591,0,0,0,0,505,False,31654,0,none
1363851589484564484,69162848,0,0,0,0,1683,False,90693,0,none
1363851559612739593,1115634520487645184,0,0,0,2,1410,False,2279,0,none
1363851557758849028,1083292321553076224,0,0,0,0,81,False,1078,0,none

In [45]:
numeric_df.drop(inx_to_drop, inplace=True, level='tid')

In [46]:
numeric_df.shape

(4567, 9)

In [47]:
#overwrite the old pickle file with the new dataframe
pd.to_pickle(numeric_df, os.path.join(data.__path__[0], "compiled", "first_6000_numeric.pkl"))

In [48]:
numeric_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4567 entries, (1363937142200762376, 1044743429413117955) to (1363860840206712836, 553839116)
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   quote_count           4567 non-null   Int64
 1   reply_count           4567 non-null   Int64
 2   retweet_count         4567 non-null   Int64
 3   favorite_count        4567 non-null   Int64
 4   user_followers_count  4567 non-null   Int64
 5   user_verified         4567 non-null   boolean
 6   user_statuses_count   4567 non-null   Int64
 7   media_count           4567 non-null   Int64
 8   media_types           4567 non-null   string
dtypes: Int64(7), boolean(1), string(1)
memory usage: 748.5 KB